body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Sidebar */
.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  padding-top: 20px;
  transition: 0.3s;
}

.sidebar a {
  padding: 12px 20px;
  text-decoration: none;
  font-size: 18px;
  color: #ccc;
  display: block;
  transition: 0.2s;
}

.sidebar a:hover {
  background-color: #575757;
  color: #fff;
}

/* Content */
.content {
  margin-left: 250px;
  padding: 20px;
  transition: 0.3s;
  min-height: 2000px;
}

/* Button */
.menu-btn {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 24px;
  cursor: pointer;
  color: black;
  z-index: 1000;
}

/* Responsive */
@media (max-width: 768px) {
  .sidebar {
    width: 0;
    overflow-x: hidden;
  }

  .content {
    margin-left: 0;
  }
}